@import "../../../config/variables";

.base {
  display: grid;
  grid-auto-rows: $row-size;
  grid-column-gap: $gutter;
  grid-row-gap: $gutter;
  grid-template-columns: repeat($columns, 1fr);
  max-width: $content-width;
  width: 100%;
  @include for-tablet-landscape-down() {
    grid-auto-rows: calc((#{$content-width} - #{$gutter} * (2 - 1)) / 2);
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-phone-only() {
    grid-auto-rows: calc((#{$content-width} - #{$gutter} * (1 - 1)) / 1);
    grid-template-columns: repeat(1, 1fr);
  }
}

.wrapper {
  box-sizing: border-box;
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  a {
    color: #fff;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    &:hover {
      color: #fff;
      opacity: 1;
      text-decoration: none;
    }
  }
}

.image {
  > div {
    height: 100%;
    left: 0;
    position: absolute !important;
    top: 0;
    width: 100%;

    > div {
      position: static !important;
    }
  }
}

.overlay {
  background-color: $brand-primary;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
