@import "../../../config/_variables.scss";

.base {
    display: grid;
    width: 100%;
    max-width: $content-width;
    grid-template-columns: repeat($columns, 1fr);
    grid-auto-rows: $row-size;
    @include for-tablet-landscape-down() {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: calc( (#{$content-width} - #{$gutter} * (2 - 1)) / 2 );
    }
    @include for-phone-only() {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: calc( (#{$content-width} - #{$gutter} * (1 - 1)) / 1 );
    }
    grid-column-gap: $gutter;
    grid-row-gap: $gutter;
}

.wrapper {
    position: relative;
    box-sizing: border-box;
    &:before {
        content: '';
        display: block;
        padding-top: 100%;
    }
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 2rem;
        color: #ffffff;
        opacity: 0;
        z-index: 10;
        &:hover {
            opacity: 1;
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.image {
    > div {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > div {
            position: static !important;
        }
    }
}

.overlay {
    position: absolute;
    background-color: $brand-primary;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}