@import "../../config/_variables.scss";

.content {
	margin: 0 auto;
	padding-bottom: $distance;
	padding-top: $distance;
}

.header {
	color: #fff;
	margin-bottom: 3rem;
	margin-top: 1rem;
	padding: 6rem $distance;
	text-align: center;
}

.title {
	margin: 1rem 0;
}

.information {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.infoBlock {
	display: flex;
	flex-direction: column;
	margin: $distance $distance;
	text-align: left;
}

.top {
	font-size: 80%;
	margin-bottom: .5rem;
	position: relative;
	text-transform: uppercase;
}

.bottom {
	font-size: 125%;
}
