@import "../../config/_variables.scss";

.content {
    margin: 0 auto;
    padding-top: $distance;
    padding-bottom: $distance;
}

.header {
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: #ffffff;
    padding: 6rem $distance;
    text-align: center;
}

.title {
    margin: 1rem 0rem;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    margin: $distance $distance;
    text-align: left;
}

.top {
    position: relative;
    margin-bottom: .5rem;
    font-size: 80%;
    text-transform: uppercase;
}

.bottom {
    font-size: 125%;
}