@import "../../../config/variables";

.container {
  margin: 0 auto;
  max-width: $container;
  padding-left: $distance;
  padding-right: $distance;
}

.text {
  max-width: $container-text;

  p {
    font-size: 1.25rem;
    letter-spacing: -0.003em;
    line-height: 1.58;
    --baseline-multiplier: 0.179;
    --x-height-multiplier: 0.35;
  }
}
