@import "../../../config/_variables.scss";

.container {
    max-width: $container;
    margin: 0 auto;
    padding-left: $distance;
    padding-right: $distance;
}

.text {
    max-width: $container-text;
    p {
        line-height: 1.58;
        letter-spacing: -.003em;
        --baseline-multiplier: 0.179;
        --x-height-multiplier: 0.35;
        font-size: 1.25rem;
    }
}