@import "../../../config/variables";

.wrapper {
  align-items: center;
  display: flex;

  a {
    color: $body-color;

    &:hover {
      color: $brand-primary;
    }
  }
}

.navigation,
.name,
.socialMedia {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navigation > span {
  margin-right: auto;
}

.socialMedia > span {
  margin-left: auto;
}

.navigation {
  a:not(:first-child) {
    margin-left: 1rem;
  }
}

.name {
  h3 {
    font-size: 23px !important;
    margin-bottom: 0 !important;
  }

  a {
    &:hover,
    &:focus {
      color: $body-color;
      text-decoration: none;
    }
  }
}

.socialMedia {
  a {
    font-size: 1.5rem;
  }

  a:not(:first-child) {
    margin-left: 1rem;
  }
}

.mobileNav {
  background-color: $background-color;
  display: none;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
  @include for-phone-only {
    display: block;
  }

  a {
    color: #fff;
    font-size: 200%;
    margin-bottom: 2rem;

    &:hover {
      color: #fff;
    }
  }
}

.mobileNavName {
  left: 1rem;
  position: fixed;
  top: 1rem;

  h3 {
    font-size: 23px !important;
    margin-bottom: 0 !important;
  }
}

.mobileNavSocialMedia {
  font-size: 1.5rem;
  margin-top: 6rem;

  a:not(:first-child) {
    margin-left: 1.5rem;
  }
}
