// --------------
// Mixins
// --------------

// Hover

@mixin hover-focus {
  &:focus,
  &:hover {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 899px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1500px) {
    @content;
  }
}

// Custom Media Queries

@mixin for-mobile-landscape {
  @media (max-width: 900px) and (orientation: landscape) {
    @content;
  }
}

// --------------
// Configuration
// --------------

// Configure your colors here

$brand-primary: #cf1993;
$brand-secondary: #7b8acc;
$grey: #252525;
$black: #000;

// Configure your grid here
// You don't need to change it!

$content-width: 100vw;
$gutter: 0;
$columns: 3;

$row-size: calc(
  (#{$content-width} - #{$gutter} * (#{$columns} - 1)) / #{$columns}
);

// Configure the max-width of your containers here
// Try to keep it in sync with maxWidth of `gatsby-remark-images`

$container: 100rem;
$container-text: 55rem; // Longer texts should have a smaller max-width to improve readability

// Responsive Typography
// You can set your min and max font-size here
// More information: https://www.rucksackcss.org/docs/#responsive-type

html {
  font-size: 14px;
  @include for-desktop-up {
    font-size: 16px;
  }
}

// --------------------------------------------
// You don't need to change anything below here
// --------------------------------------------

$background-color: #f3f3f3;
$body-color: #222;
$link-color: $brand-primary;
$link-decoration: none;
$link-color-hover: darken($brand-primary, 15%);
$link-decoration-hover: none;

$table-bg: $background-color;
$table-cell-padding: 1.5rem;

$text-muted: $brand-secondary;
$cursor-disabled: not-allowed;

$transition: 0.5s;

$distance: 2rem; // Horizontal spacing for nav/container
