@import "../../../config/variables";

.header {
  background: $brand-secondary;
  color: #fff;
  margin-bottom: 4rem;
  margin-top: 1rem;
  padding: 6rem $distance;
  text-align: center;
  h1 {
    margin-bottom: 0 !important;
  }
}
