@import "../../../config/_variables.scss";

.header {
    margin-top: 1rem;
    margin-bottom: 4rem;
    background: $brand-secondary;
    color: #ffffff;
    padding: 6rem $distance;
    text-align: center;
}