// Custom Styles for Emma
// Using our variables

@import "../../config/variables";

.container {
  padding-top: 6.25rem;
}

.vibrant-canvas {
  display: none;
}

.bm-burger-button {
  height: 30px;
  position: fixed;
  right: 1rem;
  top: 0.8rem;
  width: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  right: 2rem !important;
  top: 2rem !important;
  transform: scale(2.5);
  width: 24px;
}

.bm-cross {
  background: #fff;
}

.bm-menu {
  background: $brand-primary !important;
  font-size: 1.15em;
  padding: 2.5em 1.5em 0;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
